<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-UA-compatible" content="IE=EDGE">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Captcha</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </head>
    <body>
        <h3></h3>
        {%if messages %}
        {%for message in messages%}
        <div class="alert text-center mt-5 alert -{{message.tags}}">
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        <form action="" method="post" class="text-center mt-5">
            {%csrf_token%}
            {{form.captcha}}
            <input type="submit" value="Submit">
        </form>
    </body>
    {%block data%} {%endblock%}
</html>